*{
    margin:0;
    padding:0;
}
.wrapper{
    width:1170px;
    margin:auto;
}
header{
    background:#c71585
     background size:cover; 
}
.nav-area{
    float:right;
    list-style:none;
    margin-top:30px;
}
